# IntelliJ files #
.idea/

# Build files #
netx/net/sourceforge/jnlp/resources/*.html
completion/*.bash

target/
docs/
icedtea-web-docs/
launcher.build/
liveconnect/
metadata/
netx.build/
stamps/
build.properties
config.status
config.log
jrunscript
Makefile
netx.manifest
itweb-settings.desktop
javaws.desktop
liveconnect-source-files.txt
netx-source-files.txt
policyeditor.desktop
printvarsfile
